/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(198, 248, 250);
  }
  .navbar {
    background-color: #2e0808;
    overflow: hidden;
  }

  .nav-link{
    text-align: end;
  }
  
  
  .navbar-link {
    padding: 14px 16px;
    text-decoration: none;
    color: #333;
  }
  
  .navbar-link:hover {
    background-color: #ddd;
  }
  
  
  
  h1, h2, h3 {
    margin-top: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .card {
    margin-bottom: 5px;
  }
  
  .card-body {
    padding: 30px;
  }
  
  /* Custom Styles */
  .share-post {
    padding: 50px 0;
  }
  
  .posts {
    padding: 5px 0;
  }
  
  .footer {
    background-color: rgb(141, 148, 235);
    color: #fff;
    padding: 20px 10px;
    margin-bottom: auto;
    text-align: center;
  }
  
  .footer p, .footer-nav {
    margin: 0;
    padding: 0;
  }
  
  .footer-nav {
    list-style-type: none;
    display:flex;
    justify-content:end;
    margin-top: 20px;
  }
  
  .footer-nav li {
    margin: 0 10px;
  }
  
  .footer-nav li a {
    color: #fff;
    text-decoration: none;
  }
  