body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .container {
    margin-bottom: 20px;
  }
  
  .list-group-item {
    cursor: pointer;
  }
  
  #product-list .card {
    margin-bottom: 20px;
  }
  